body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border1{
  border: 3px solid red;
}

.border2{

}

#logoReact{
  max-width: 50px;
}

.box-style{
  border:1px solid rgba(0, 68, 255, 0.336);
  border-radius: 2px;
  box-shadow: 2px 2px 4px 0px rgba(0, 68, 255, 0.336);
  margin:10px;
}